h1{
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
}

h2{
    font-size: 40px;
    line-height: 0;
}

h4{
    font-weight: 400;
}

p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.hero{
    background: #000;
    text-align: center;
    padding: 80px 20px;
}

.hero h1{
    color: #fff;
}

nav{
    padding: 20px 0;
}

nav ul{
    padding: 0;
    margin: 0;
}

nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a{
    text-decoration: none;
    color: #272142;
    transition: all 100ms  ease-in-out;
}

nav a:hover, nav li.active a{
    color: rgb(233, 199, 204);
}

.btn-branding{
    background: rgb(233, 199, 204);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    text-align: center;
}

.btn-branding-outline{
    color: rgb(233, 199, 204);
    border: 1px solid rgb(233, 199, 204);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px; 
}

.project-description{
    padding: 120px 60px;
}


footer{
    margin: 80px 0;
}

footer .contact-box{
    background: #000;
    padding: 30px 120px;
    border-radius: 10px;
}

footer h4{
    color: #fff;
}

footer .btn-branding-outline{
    color: #fff;
}

 