h1{
    font-size: 42px;
    text-align: center;
}

.hero{
    background: #f9f7fe;
    text-align: center;
    padding: 80px 20px;
}

nav{
    padding: 20px 0;
}

nav ul{
    padding: 0;
    margin: 0;
}

nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a{
    text-decoration: none;
    color: #272142;
    transition: all 100ms  ease-in-out;
}